---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import FormBook from "~/components/forms/FormBook.astro";
---

<Layout>
	<Section>
		<Heading>
			<h2 slot="heading-title" class="font-black text-brand-green h2">Order Delivery</h2>
			<p slot="heading-content" class="text-pretty">
				Choose a date and let us know what you'd like. We'll get back to you to confirm your order.
			</p>
		</Heading>

		<FormBook />
	</Section>
</Layout>
