---
const { contain = false } = Astro.props;
const classname = contain ? "prose mx-auto" : "prose max-w-none";
---

<article class={classname}>
	<slot />
	<div class="hidden max-w-none"></div>
</article>
