---
const { id, class: className, contain = true } = Astro.props;
---

<section id={id} class={className}>
	<div class={`${contain ? "container py-16 lg:py-32" : ""}`}>
		<slot />
		<div class="hidden max-w-none m-0"></div>
	</div>
</section>
